In [1]:
from utils import load_ibm_data, load_soil_data

In [2]:
df_ibm = load_ibm_data("data/IBM.txt")
df_soil = load_soil_data("data/Soil.dat")

In [3]:
df_soil.head()

   East  North     K     logK   pH    P     logP
0     1     24  26.0  1.41497  7.2  5.5  0.74036
1     1     25  22.0  1.34242  7.2  5.2  0.71600
2     1     26  18.0  1.25527  6.8  2.6  0.41497
3     1     27  19.0  1.27875  6.4  1.3  0.11394
4     1     28  26.0  1.41497  6.1  1.3  0.11394

In [4]:
df_ibm.head()

        Date   High
0 2006-01-03  82.55
1 2006-01-04  82.50
2 2006-01-05  82.90
3 2006-01-06  85.03
4 2006-01-09  84.25